@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/merriweather-v33-cyrillic_latin-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/merriweather-v33-cyrillic_latin-700italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-v31-cyrillic_latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-v31-cyrillic_latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-v31-cyrillic_latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-logo: "Merriweather", serif;
    --font-text: "Rubik", sans-serif;

    --color-primary: #49C5B6;
    --color-primary-dark: #3E958A;
    --color-accent: #E86A4E;
    --color-dark: #3C3C3C;
    --color-light: #F7F7F7;
}

.swiper-pagination-bullet-active {
    background-color: #49C5B6 !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiperShops {
    height: calc(50vw + 40px);
}

@media screen and (min-width : 1024px) {
    .swiperShops {
        height: 160px;
    }
}

.description p{
    margin-top: 1rem;
}

.offer_description ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.btn {
    @apply w-full rounded-lg p-4 cursor-pointer text-center text-white transition duration-300 ease-in-out;
}
